name: Test

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'
  release:
    types:
      - published

jobs:
  changes:
    name: Detect file changes
    runs-on: ubuntu-22.04
    outputs:
      scenario: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0
      - name: Detect changes
        uses: dorny/paths-filter@v2.11.1
        id: filter
        with:
          filters: |
            default:
              - roles/server/**/!(**.md)
              - molecule/default/**
              - .github/workflows/test.yml
  test:
    name: "Test scenario ${{ matrix.scenario }} on ${{ matrix.os }}"
    runs-on: ubuntu-22.04
    needs: changes
    if: ${{ needs.changes.outputs.scenario != '[]' && needs.changes.outputs.scenario != '' }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu2204
          - ubuntu2004
          - debian11
          - debian10
          - centos8
          - fedora36
          - fedora37
        scenario: ${{ fromJSON(needs.changes.outputs.scenario) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0
        with:
          path: ansible_collections/vladgh/samba
      - name: Molecule test
        uses: gofrolist/molecule-action@v2.3.6
        with:
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }}
          molecule_working_dir: ansible_collections/vladgh/samba
        env:
          PY_COLORS: 1
          ANSIBLE_FORCE_COLOR: 1
          MOLECULE_DISTRO: ${{ matrix.os }}
      #   continue-on-error: true
      # - name: Debugging with tmate
      #   uses: mxschmitt/action-tmate@v3.11
